
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Thông tin giỏ hàng</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/Images/login//vendor/bootstrap/css/bootstrap.min.css" type="text/css">
    <!-- Font awesome -->
    <link rel="stylesheet" href="~/Content/Images/login//vendor/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Custom css - Các file css do chúng ta tự viết -->
    <link rel="stylesheet" href="../assets/css/app.css" type="text/css">


    <style>
        .seach {
            background: #ed71a3;
            color: white;
            font-size: 24px;
            padding: 0 60px;
            height: 108px;
            width: 50px;
            text-transform: uppercase;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            line-height: 48px;
            float: left;
            border-color: #ed71a3;
            border: hidden;
        }

        .input-group-btn {
            position: relative;
            white-space: nowrap;
            width: 1%;
            padding: 0;
        }

        .img {
            padding: 5px 0;
        }

        div.a {
            margin: auto;
            width: 60%;
            padding-bottom: 50px;
            padding-left: 100px;
            margin-left: 100px;
        }

        .right {
            float: right;
            height: 80px;
        }
    </style>

   
        <title>Big shope A Ecommerce Category Flat Bootstarp Resposive Website Template | Login :: w3layouts</title>

        <!--theme-style-->
        <link href="~/css/bootstrap.css" rel="stylesheet" />

        <!--//theme-style-->
        <link href="~/css/style.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!--fonts-->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
        <!--//fonts-->
        <script src="~/js/jquery.min.js"></script>

  
    


        <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet">
</head>

<body id="page-top">

    
        <!--header-->
        <div class="header">
            <div style="background:#ed71a3" class="top-header">
                <div class="container">
                    <div class="top-header-left">
                        <ul class="support">
                            <li><a href="#"><label> </label></a></li>
                            <li><a href="#">Hotline: <span class="live"> 0339866240</span></a></li>
                        </ul>

                        <ul class="support">

                            <li><img src="~/Content/Images/Gmail-icon.png" /><a href="https://mail.google.com/mail"> <span>dieuthuong0404@gmail.com</span></a></li>
                        </ul>
                        <ul class="support">
                            <li class="van"><a href="#"><label> </label></a></li>
                            <li><a href="#">Free shipping <span class="live">on order over 500</span></a></li>
                        </ul>
                        <div class="clearfix"> </div>
                    </div>

                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="bottom-header">
                <div class="container">
                    <div class="header-bottom-left">
                        <div class="logo">
                            <a href="index.html"><img src="~/images/logo.png" alt=" " /></a>
                        </div>
                        <div class="search">
                            <input type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
                            <input style="background:#ed71a3" type="submit" value="SEARCH">

                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="header-bottom-right">
                        <div class="account"><a style="color:#ed71a3" href="login.html"><span> ACCOUNT </span> </a></div>
                        <ul class="login">
                            <li><a style="color:#ed71a3" href="/Login/Index"><span> </span>SIN IN</a></li> |
                            <li><a style="color:#ed71a3" href="/Login/TaoTK">SIGN UP</a></li>
                        </ul>
                        <div class="cart"><a style="color:#ed71a3" href="/Home/Giohang"><span> </span>CART</a></div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>

        <!-- Masthead-->
        <main role="main">
            <!-- Block content - Đục lỗ trên giao diện bố cục chung, đặt tên là `content` -->
            <div class="container mt-4">
                <div id="thongbao" class="alert alert-danger d-none face" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <h1 class="text-center">Giỏ hàng</h1>
                <div class="row">
                    <div class="col col-md-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Ảnh sản phẩm</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Số lượng</th>
                                    <th>Đơn giá</th>
                                    <th>Thành tiền</th>
                                    <th>Hành động</th>
                                </tr>
                            </thead>
                            <tbody id="datarow">
                                <tr>
                                    <td>1</td>
                                    <td>
                                        <img src="../assets/img/product/ipad4.png" class="hinhdaidien">
                                    </td>
                                    <td>Apple Ipad 4 Wifi 16GB</td>
                                    <td class="text-right">2</td>
                                    <td class="text-right">11,800,000.00</td>
                                    <td class="text-right">23,600,000</td>
                                    <td>
                                        <!-- Nút xóa, bấm vào sẽ xóa thông tin dựa vào khóa chính `sp_ma` -->
                                        <a id="delete_1" data-sp-ma="2" class="btn btn-danger btn-delete-sanpham">
                                            <i class="fa fa-trash" aria-hidden="true"></i> Xóa
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>
                                        <img src="../assets/img/product/nokia-asha-311.jpg" class="hinhdaidien">
                                    </td>
                                    <td>Nokia Asha 311</td>
                                    <td class="text-right">4</td>
                                    <td class="text-right">2,699,000.00</td>
                                    <td class="text-right">1,0796,000</td>
                                    <td>
                                        <!-- Nút xóa, bấm vào sẽ xóa thông tin dựa vào khóa chính `sp_ma` -->
                                        <a id="delete_2" data-sp-ma="6" class="btn btn-danger btn-delete-sanpham">
                                            <i class="fa fa-trash" aria-hidden="true"></i> Xóa
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>
                                        <img src="../assets/img/product/iphone5-white.jpeg" class="hinhdaidien">
                                    </td>
                                    <td>Apple iPhone 5 16GB White</td>
                                    <td class="text-right">8</td>
                                    <td class="text-right">1,4990,000.00</td>
                                    <td class="text-right">119,920,000</td>
                                    <td>
                                        <!-- Nút xóa, bấm vào sẽ xóa thông tin dựa vào khóa chính `sp_ma` -->
                                        <a id="delete_3" data-sp-ma="4" class="btn btn-danger btn-delete-sanpham">
                                            <i class="fa fa-trash" aria-hidden="true"></i> Xóa
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <a href="/Home/Index" style="color:white; Background:#ed71a3" class="btn btn-warning btn-md">
                            <i class="fa fa-arrow-left"
                               aria-hidden="true"></i>&nbsp;  Trang chủ
                        </a>
                        <a href="/Home/Donhang" style="color:white; Background:#ed71a3" class="btn btn-primary btn-md">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp; Đặt hàng
                        </a>
                    </div>
                </div>
            </div>
            <!-- End block content -->
        </main>

        <!-- footer -->
        <!-- end footer -->
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="~/Content/Images/login/vendor/jquery/jquery.min.js"></script>
        <script src="~/Content/Images/login/vendor/popperjs/popper.min.js"></script>
        <script src="~/Content/Images/login/vendor/bootstrap/js/bootstrap.min.js"></script>

        <!-- Custom script - Các file js do mình tự viết -->
        <script src="~/Content/js/app.js"></script>

    </body>

</html>
