
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Chào mừng đến với trang Admin</title>
</head>
<body>

    <div class=" top-nav rsidebar span_1_of_left">
        <h3 style="background:#ed71a3; color:white;width:300px" class="cate">Danh mục sản phẩm</h3>
        <ul class="menu">
            <li>
                <ul class="kid-menu" href="">
                    <h7>Thêm</h7>
                    <h7>Sửa</h7>
                    <h7>Xóa</h7>
                </ul>
            </li>
        </ul>
    </div>
</body>
</html>
