
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_layoutshare.cshtml";
}

<head>
    <title>Big shope A Ecommerce Category Flat Bootstarp Resposive Website Template | Login :: w3layouts</title>

    <!--theme-style-->
    <link href="~/css/bootstrap.css" rel="stylesheet" />

    <!--//theme-style-->
    <link href="~/css/style.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!--//fonts-->
    <script src="~/js/jquery.min.js"></script>

</head>
<body>
    <div style="color:#ed71a3 ; margin-left:15px">
        <h3 style="text-align:center">
            ĐẸP HƠN MỖI NGÀY VỚI CÁC SẢN PHẨM CHĂM SÓC DA MẶT
        </h3>
        <p style="padding:10px">
            "Không có người phụ nữ xấu, chỉ có người phụ nữ không biết làm đẹp", hai từ "làm đẹp" đã không còn trở nên quá xa lạ đối với mỗi chúng ta, bởi cái đẹp ngày nay đã trở thành một yếu tố hết sức quan trọng trong cuộc sống của mỗi con người.
        </p>
        <p>
            Vẻ đẹp không phải là thước đo dùng để đánh giá một con người nhưng ngày nay nó lại đóng một vị trí huyết mạch quyết định phần lớn cơ hội và thành công của chúng ta, không phân biệt độ tuổi, giới tính hay dân tộc. Bởi vẻ bề ngoài là điều đầu
            tiên chúng ta có thể dùng trực quan nhìn thấy khi tiếp xúc với ai đó. Cho nên, việc dành thời gian chăm chút một tí cho bề ngoài của bản thân không có gì là thừa cả. Hãy xem đó như là một điều hiển nhiên rằng, cứ tập yêu thương bản thân mình trước đã.
        </p>
        <p>
            Hiện nay vẫn còn rất nhiều người thường không quan tâm và xem thường việc chăm sóc da mặt nhưng họ không biết rằng điều đó sẽ gây ra những hậu quả hết sức tai hại về lâu về dài. Vậy làm thế nào để chăm sóc da mặt đúng cách?

            Việc chăm sóc da mặt sẽ phát huy hiệu quả một cách tốt nhất nếu như bạn tuân thủ đầy đủ các bước chăm sóc da như trên và duy trì như một thói quen hằng ngày.
        </p>
        <p>
            <a href="/Home/SanPham/9">Sửa rửa mặt:</a>Sữa rửa mặt của các thương hiệu khá được ưa chuộng hiện nay như: Dickinsons, Nature Republic, Clinique, Yves Rocher, L'oreal, Lancôme, Vichy, Laneige, La Roche - Posay, Avène
        </p>
        <p>
            <a href="/Home/SanPham/3">Dung dịch tẩy trang:</a>Dung dịch tẩy trang của các thương hiệu đang được ưa chuộng: Clinique, Maybelline, Nature Republic, Evoluderm, Shu Uemura, Yves Rocher, L'oreal, Lancôme, Laneige, Bourjois, Avène

        </p>
        <p>
            <a href="/Home/SanPham/2"> Kem chống nắng:</a> Các dòng kem chống nắng sử dụng rất hiệu quả đến từ các thương hiệu như: Clinique, Yves Rocher, Nature Republic, L'oreal, La Roche - Posay, Lancôme, Laneige, Vichy, Avène
            </p>"
        <p>.......</p>

        <p>
           Big Shop cam kết bán hàng chính hãng tốt nhất thị thường với nhiều sản phấm có chất lượng và giá cả hợp lí
        </p>
</div>
</body>
