@using Thuctapchuyenmon.Models
@model IEnumerable<NhaSanXuat>
@{
    Layout = null;
    //khoi tao control wwebgird
    WebGrid webGrid = new WebGrid(source: Model, rowsPerPage: 5);
}
<h2 style=" color: #ed71a3; text-align:center">Danh sách sản phẩm</h2>
<div class="grid-product">


    @webGrid.GetHtml(
        tableStyle: "tablesp",
        headerStyle: "gridhead",
        footerStyle: "gỉdfooter",
        rowStyle: "gridrow",
        alternatingRowStyle: "gridaltrow",
        columns: webGrid.Columns(
            webGrid.Column("ID", "Mã nhà sản xuất", style: "id"),
            webGrid.Column("Name", " Tên nhà sản xuất", style: "ten"),
            webGrid.Column("Address", "Địa chỉ"),

            webGrid.Column("Phone", "Số điện thoại", style: "gia"),
             webGrid.Column(format: c => @Html.ActionLink("Thêm", "ThemNSX")),
            webGrid.Column(format: c => @Html.ActionLink("Sửa", "uploadNSX", new { id = c.ID })),
            webGrid.Column(format: c => @Html.ActionLink("Xóa", "DeleteNSX", new { id = c.ID }))
           ))
</div>


<style>


    .tablesp {
        width: 100%;
        color: #ed71a3;
        border: 1px solid #ed71a3;
        display: table;
    }

    .gridhead {
        background-color: #ed71a3;
        text-align: center;
    }

        .gridhead > th > a {
            color: white;
            text-align: center;
            display: table-cell;
        }

    .id {
        display: table-cell;
        text-align: center;
    }

    .ten {
        text-align: center;
    }

    .gia {
        text-align: center;
    }
</style>